@model CarViewModel

<h2 class="text-center my-4">Araba Ekle</h2>
<hr class="mb-4">

<form asp-controller="Admin" asp-action="Create" method="post" enctype="multipart/form-data">
    
    <div class="mb-4">
        <label asp-for="Title" class="form-label fw-bold">Araba Başlığı</label>
        <input asp-for="Title" class="form-control shadow-sm" placeholder="Araba başlığını girin...">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="mb-4 form-group">
        <label asp-for="ImageFile" class="form-label fw-bold">Görsel Yükle</label>
        <input type="file" asp-for="ImageFile" class="form-control shadow-sm">
        <span asp-validation-for="ImageFile" class="text-danger"></span>
    </div>

    <div class="mb-4">
        <label asp-for="BrandCategory" class="form-label fw-bold">Marka</label>
        <select name="BrandCategory" asp-for="BrandCategory" asp-items="@(new SelectList(ViewBag.BrandCategory))" class="form-select shadow-sm">
            <option value="">Seçiniz</option>
        </select>
        <span asp-validation-for="BrandCategory" class="text-danger"></span>
    </div>

    <div class="mb-4">
        <label asp-for="Model" class="form-label fw-bold">Model</label>
        <input asp-for="Model" class="form-control shadow-sm" placeholder="Modeli girin...">
        <span asp-validation-for="Model" class="text-danger"></span>
    </div>

    <div class="mb-4">
        <label asp-for="TypeCategory" class="form-label fw-bold">Tip</label>
        <select name="TypeCategory" asp-for="TypeCategory" asp-items="@(new SelectList(ViewBag.TypeCategory))" class="form-select shadow-sm">
            <option value="">Seçiniz</option>
        </select>
        <span asp-validation-for="TypeCategory" class="text-danger"></span>
    </div>

    <div class="mb-4">
        <label asp-for="Seats" class="form-label fw-bold">Koltuk Sayısı</label>
        <select name="Seats" asp-for="Seats" asp-items="@(new SelectList(ViewBag.SeatCategory))" class="form-select shadow-sm">
            <option value="">Seçiniz</option>
        </select>
        <span asp-validation-for="Seats" class="text-danger"></span>
    </div>

    <div class="mb-4">
        <label asp-for="RentPrice" class="form-label fw-bold">Kira Fiyatı</label>
        <input asp-for="RentPrice" class="form-control shadow-sm" placeholder="Fiyatı girin...">
        <span asp-validation-for="RentPrice" class="text-danger"></span>
    </div>

    <div class="mb-4 form-check">
        <input asp-for="IsActive" class="form-check-input" id="IsActive">
        <label asp-for="IsActive" class="form-check-label" for="IsActive">Aktif mi?</label>
    </div>

    <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary px-4">Kaydet</button>
        <a asp-action="CarList" class="btn btn-secondary px-4">İptal</a>
    </div>
</form>
