@model Car

<h2 class="text-center my-4">Araba Sil</h2>
<hr class="mb-4">

<div class="text-center">
    <p class="fs-5">
        <b class="text-danger">@Model.Title</b> adlı ilan silinecektir. Emin misiniz?
    </p>

    <form asp-action="delete" method="post" class="d-inline">
        <input type="hidden" name="id" value="@Model.CarID">
        <button type="submit" class="btn btn-danger me-2 px-4">Evet</button>
    </form>
    
    <a asp-action="carlist" class="btn btn-secondary px-4">Hayır</a>
</div>
