@model RegisterViewModel

<div class="d-flex justify-content-center align-items-center pt-4">
    <div class="col-md-4">
        <div class="card shadow-lg">
            <div class="card-body p-4">
                <form asp-action="Login" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="mb-4">
                        <label asp-for="Username" class="form-label">Kullanıcı Adı</label>
                        <input asp-for="Username" class="form-control" placeholder="Kullanıcı adınızı girin">
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    
                    <div class="mb-4">
                        <label asp-for="NameSurname" class="form-label">Ad Soyad</label>
                        <input asp-for="NameSurname" class="form-control" placeholder="Adınızı ve soyadınızı girin">
                        <span asp-validation-for="NameSurname" class="text-danger"></span>
                    </div>
                    
                    <div class="mb-4">
                        <label asp-for="Email" class="form-label">Email</label>
                        <input asp-for="Email" class="form-control" placeholder="Emailinizi girin">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="mb-4">
                        <label asp-for="Password" class="form-label">Şifre</label>
                        <input asp-for="Password" class="form-control" placeholder="Şifrenizi girin">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    
                    <div class="mb-4">
                        <label asp-for="ConfirmPassword" class="form-label">Şifre Tekrar</label>
                        <input asp-for="ConfirmPassword" class="form-control" placeholder="Şifrenizi tekrar girin">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    
                    <div class="d-grid">
                        <button type="submit" class="btn btn-lg" style="background-color: #FF5722; color: white;">Kayıt Ol</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
